.header {
  &__content {
    display: flex;
    justify-content: space-between;
  }

  &__control {
    display: flex;
    align-items: center;
  }

  &__control-btn {
    .mat-button-wrapper {
      display: flex !important;
      align-items: center !important;
    }
  }
}