.product {
  display: inline-flex !important;
  flex-direction: column;
  margin: 10px;
  width: 220px;

  &__image {
    max-width: 200px;
    width: 200px;
    margin: 0 auto 10px !important;
    cursor: pointer;

    &_xl {
      width: 400px !important;
      max-width: 400px;
      margin: 0 auto !important;
    }

    &_sm {
      width: 180px !important;
      height: 180px !important;
      max-width: 180px;
      margin: 0 20px 0 0 !important;
    }
  }

  &__image-modal-container {
    width: 400px;
  }

  &__total-price {
    margin-top: 25px;
  }

  &__title {
    text-align: center;

    &_lg {
      margin: 0;
      margin-bottom: 5px;
      font-weight: 300;
      font-size: 20px;
    }

    &_md {
      margin: 0;
      margin-bottom: 5px;
      font-size: 18px;
      font-weight: bold;
    }
  }

  &__controls {
    display: flex !important;
    justify-content: space-around;
  }
}