.shopping-cart {
  &__form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__item {
    margin-top: 10px;
    display: flex !important;
    transition: $base-animation-duration !important;

    &-image {
      margin: 0 30px 0 0 !important;
      max-width: 200px;
      width: 200px;
      cursor: pointer;
    }

    &_selected {
      background-color: rgba(#000000, .1)
    }
  }

  &__contact {
    margin: 20px 0;
    display: flex !important;
    justify-content: space-around;
  }

  &__submit {
    margin: auto 0 !important;
  }
}