<mat-card class="product">
  <img class="product__image" mat-card-image
    [src]="product.image | base64Image"
    (click)="showScaleImageDialog()"
  >
  <h3 class="product__title product__title_lg">{{product.title}}</h3>
  <h4 class="product__title product__title_md">{{product.price | price}} р.</h4>
  <mat-card-actions class="product__controls">
    <button color="warn" mat-button>
      <mat-icon>bookmarks</mat-icon>
    </button>
    <button color="primary" mat-raised-button (click)="showCartDialog()">
      <mat-icon>shopping_cart</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>