html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

.wrapper {
  padding-top: 70px;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  padding: 0 15px;

  &__column {
    flex-direction: column;
  }
}

